.venv/
__pycache__/
*.pyc

build/
dist/
*.spec
*.dmg
*.app/

output/audio/*.wav
subtitles/*.srt
input/*
!input/.gitkeep
output/audio/*
!output/audio/.gitkeep
subtitles/*
!subtitles/.gitkeep
Desktop/Cache/

.DS_Store
